html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: calc(50vh - 10px);
    left: calc(50vw - 10px);
}
